*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #2E3192, #1BFFFF);
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator-grid {
    display: grid;
    background: #1c1c1ca9;
    margin-top: 2rem;
    width: 30rem;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
    grid-column: span 2;
    background: #505050;
    border: 0px solid #505050;
    color: white;
    font-size: 2rem;
    padding: 0.25em 0.5em;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    width: 11.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.span-two:active {
    background: #717171;
}


.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

.btn-numbers {
    background: #505050;
    border: 0px solid #505050;
    color: white;
    font-size: 2rem;
    padding: 0.25em 0.5em;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn-numbers:active {
    background: #717171;
}

.btn-functions {
    background: #FF9500;
    border: 0px solid #FF9500;
    color: white;
    font-size: 2rem;
    padding: 0.25em 0.5em;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn-functions:active {
    background: #ffb651;
}


.btn-top {
    background: #D4D4D2;
    border: 0px solid #D4D4D2;
    color: #1c1c1ca9;
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn-top:active {
    background: #e7e7e7;
}